
@font-face {
  font-family: 'CenturyGothic';
  src: url('font/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),  
  url('font/CenturyGothic/CenturyGothic.woff') format('woff'), 
  url('font/CenturyGothic/CenturyGothic.ttf')  format('truetype'), 
  url('font/CenturyGothic/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
